---
title: Templates
layout: table
sectionid: collection-index-templates
---

<h1 style="margin-left: auto;margin-right: auto;">Templates Disponíveis</h1>
<p style="margin-left: auto;margin-right: auto;">
    Essa tabela contém todas os <a href="implementors/templates/">Dev Container Templates</a> oficiais e os suportados pela comunidade que eram conhecidos até o momento do crawling <a href="collections">das categorias registradas</a>. Essa lista é continuamente atualizada com as últimas informações disponíveis de templates. Veja o <a href="https://github.com/devcontainers/template-starter">repositório de template modelo</a> para adicionar o seu próprio!
    <br><br>
    Templates listados aqui serão exibidos na UX das <a href="supporting">ferramentas que suportam a spec</a>.
    <br><br>
    Se precisar reportar algo sobre um Template, você deve fazer isso no registry onde o Template está hospedado.   
</p>

<p>
    Para adicionar sua própria coleção à essa lista, crie um PR editando <a href="https://github.com/devcontainers/devcontainers.github.io/blob/gh-pages/_data/collection-index.yml">esse arquivo yaml</a>.
</p>

<input type="text" id="searchInput" placeholder="Search">
<br>
<br>

<table id="collectionTable" class="tg">
    <tr>
        <td class="tg-0lax"><b>Nome</b></b></td>
        <td class="tg-0lax"><b>Mantenedor</b></td>
        <td class="tg-0lax"><b>Referência</b></td>
        <td class="tg-0lax"><b>Última Versão</b></td>
    </tr>
    
    {% for c in site.data.devcontainer-index.collections %}
    {% for f in c.templates %}
    <tr>
        <td class="tg-0lax"><a rel="nofollow" href="{{ f.documentationURL | strip_html }}">{{ f.name | strip_html }}</a>
        </td>
        <td class="tg-0lax">{{ c.sourceInformation.maintainer | strip_html }}</td>
        <td class="tg-0lax"><code>{{ f.id | strip_html  }}:{{ f.version | strip_html }}</code></td>
        <td class="tg-0lax"><code>{{ f.version | strip_html  }}</code></td>
    </tr>
    {% endfor %}
    
    {% endfor %}
</table>

<script>
    const searchInput = document.getElementById('searchInput');
    const collectionTable = document.getElementById('collectionTable');
    const rows = collectionTable.getElementsByTagName('tr');

    searchInput.addEventListener('input', function () {
        const searchValue = searchInput.value.toLowerCase();

        for (let i = 1; i < rows.length; i++) {
            const name = rows[i].getElementsByTagName('td')[0].textContent.toLowerCase();
            const maintainer = rows[i].getElementsByTagName('td')[1].textContent.toLowerCase();

            if (name.includes(searchValue) || maintainer.includes(searchValue)) {
                rows[i].style.display = '';
            } else {
                rows[i].style.display = 'none';
            }
        }
    });
</script>